@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Boogaloo";
  src: url("/fonts/Boogaloo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-primary-blue: #b0d9f0;

  --font-calibri: "Calibri", system-ui, sans-serif;
  --font-boogaloo: "Boogaloo", system-ui, sans-serif;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animation-slide {
  animation: fadeInOut 24s infinite;
}

